ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: maroon;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
footer {
    text-align: center;
    
}
.logo {
    margin-top: 3em;
}
body {
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
}
.selected {
    background-color: gray; 
    padding: 10px;
}
footer {
    background-color: maroon;
    padding: 10px 0;
    color: white;
    text-shadow: 1px 1px black;
}
a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
    padding: 10px;
}

a:hover {
    background-color: darkgray;
}

header {
    text-align: center;
}
h3 {
    font-size: 16px;
    margin-block-start: .5em;
    margin-block-end: .5em;
}
p {
    /* border-bottom: gray 2px dotted; */
    margin-block-start: .5em;
    margin-block-end: 3em;
}
h2 {
    margin-block-end: 2.25em; 
    text-align: center;
}

.searchBar {
    text-align: center;
    background-color: gray;
    padding: 10px 0;
    margin-top: 1.7em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); 
}

input {
    width: 33%;
    font-family: inherit;
    height: 2em;
}

input:focus{
    outline-color: maroon;
}
.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.main-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}