ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: crimson;
    padding: 10px 0px;
}
footer {
    text-align: center;
}
body {
    font-family: 'Fjalla One', sans-serif;
}
.selected {
    background-color: gray; 
    padding: 10px;
}
footer {
    background-color: crimson;
    padding: 10px 0;
}
a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

a:hover {
    color: white;
}

header {
    text-align: center;
}
h3 {
    font-size: 16px;
    margin-block-start: .5em;
    margin-block-end: .5em;
}
p {
    /* border-bottom: gray 2px dotted; */
    margin-block-start: .5em;
    margin-block-end: 3em;
}
h2 {
    margin-block-end: 2.25em; 
    text-align: center;
}

.searchBar {
    text-align: center;
    background-color: gray;
    padding: 10px 0;
}

input {
    width: 33%;
    font-family: inherit;
    height: 2em;
}

input:focus{
    outline-color: crimson;
}